@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="container my-5 text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
    <img src="~/img/nofile.png" style="width:50%;" />
</header>
