@model HealthCare.Areas.Admin.Models.RoleModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RoleModel</h4>
<hr />
@using (Html.BeginForm("Edit", "Role", FormMethod.Post, new { @id = "form-1" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-4">

                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="roleName" class="control-label"></label>
                    <input asp-for="roleName" class="form-control" />
                </div>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-green">Save</button>
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
