@model HealthCare.Areas.Admin.Models.CreateAccountModel

@{
    ViewData["Title"] = "Tạo tài khoản";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />


@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { @id = "UserRegisterForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label><small class="text-danger">(*)</small>
                <input asp-for="lastName" class="form-control" />
                <span class="form-message text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label><small class="text-danger">(*)</small>
                <input asp-for="firstName" class="form-control" />
                <span class="form-message text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label><small class="text-danger">(*)</small>
                <input asp-for="phoneNumber" class="form-control" />
                <span class="form-message text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="role" class="control-label"></label><small class="text-danger">(*)</small>
                <select asp-for="role" class="form-control" asp-items="@ViewBag.role">
                    <option value="" selected disabled>-- Vui lòng chọn Role --</option>
                </select>
                <span class="form-message text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label><small class="text-danger">(*)</small>
                <input asp-for="password" class="form-control" />
                <span class="form-message text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword" class="control-label"></label><small class="text-danger">(*)</small>
                <input asp-for="confirmPassword" class="form-control" />
                <span class="form-message text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-green">Tạo tài khoản</button>
                <a asp-action="Index" class="btn btn-light">Quay lại</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/validator.js"></script>

    <script>
        Validator({
            form: '#UserRegisterForm',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#lastName'),
                Validator.isRequired('#firstName'),
                Validator.isRequired('#phoneNumber'),
                Validator.isRequired('#password'),
                Validator.isRequired('#confirmPassword'),
                Validator.isPhone('#phoneNumber'),
                Validator.isConfirmed('#confirmPassword', function () {
                    return document.querySelector('#UserRegisterForm #password').value;
                }, 'Mật khẩu không khớp')
            ],
        });
    </script>
}
